.modal.d-block {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-preview {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 0.5rem;
  }

  .img-preview {
    max-height: 150px;
  }

  .modal-content {
    border-radius: 1rem !important;
  }

  .modal-body {
    padding: 1rem;
  }

  .modal-footer {
    padding: 1rem;
  }
}
